@media (max-width: 762px) {
  header nav .container .first-none {
    display: none !important;
  }
}
a {
  text-decoration: none !important;
}

ul li {
  list-style: none;
}

.fs-100 {
  font-size: 100px;
  letter-spacing: 7px;
}
.fs-100::after {
  content: "";
  display: block;
  background-color: #ff214f;
  height: 3px;
  width: 65%;
  position: absolute;
  right: 60px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-50 {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
}

.text-pink {
  color: #ff214f;
  font-size: 20px;
  display: block;
}

#designer {
  height: 90vh;
}

.active-aft::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: grey;
}

.hv-after {
  color: #000 !important;
}
.hv-after::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  transition: all 200ms;
  background-color: gray;
}

.hv-dark {
  color: #dcdcdc !important;
}

.none {
  display: none !important;
}

.hv-card-relative {
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}
.hv-card-relative:hover img {
  transition: all 900ms;
  filter: blur(3px);
}
.hv-card-relative:hover .hv-card-absolute {
  opacity: 1;
  width: 90%;
  height: 90%;
}
.hv-card-relative .hv-card-absolute {
  position: absolute !important;
  width: 95%;
  height: 95%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 400ms;
}

footer {
  height: 20vh;
  background-color: var(--headerBg);
}
footer i {
  color: var(--textColor) !important;
}
footer p {
  color: var(--textColor) !important;
}

.hv {
  transition: 1s;
}
.hv:hover {
  color: #ff214f !important;
}

.open-screen {
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9294117647);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 500ms;
}

.my-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.button-opn {
  background-color: transparent;
  border: none;
  outline: none;
  transition: 700ms;
}
.button-opn:hover {
  color: #ff214f;
}

.hv-pink {
  transition: 600ms;
}
.hv-pink:hover {
  color: #ff214f !important;
}

.hv-blue {
  transition: 600ms;
}
.hv-blue:hover {
  color: #0d6efd !important;
}

.hv-light {
  transition: 600ms;
}
.hv-light:hover {
  color: #007aff !important;
}

.zero {
  opacity: 0;
  z-index: -1;
}

.one {
  opacity: 1 !important;
  z-index: 9;
}

.fa-plus {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ff214f;
  font-size: 22px;
  font-weight: 600;
}

.theme {
  position: fixed;
  top: 50%;
  right: 0;
  width: auto;
  height: 30px;
  background-color: #fff;
  transition: all 800ms;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateX(75%);
  display: flex;
  padding: 0 4px;
  z-index: 5;
}
.theme p {
  font-size: 12px;
  padding-top: 6px;
}
.theme i {
  color: gray;
  padding: 8px 10px;
}
.theme:hover {
  background-color: #ff214f;
  transform: translateX(0);
}
.theme:hover i, .theme:hover p {
  color: #fff;
}

.card1 {
  top: 43%;
  justify-content: center;
  transform: translateX(65%);
}

.disable-section {
  display: none !important;
}

.active-section {
  display: block !important;
}

.dark {
  --headerBg:#1f1f1f;
  --mainBg:#1f1f1f;
  --textColor:#dcdcdc;
}

header {
  background-color: var(--headerBg);
}
header i {
  color: var(--textColor) !important;
}
header nav .container ul li a i {
  color: var(--textColor) !important;
}

main {
  background-color: var(--mainBg);
}
main i {
  color: var(--textColor) !important;
}
main p {
  color: var(--textColor) !important;
}
main h1 {
  color: var(--textColor);
}
main a {
  color: var(--textColor) !important;
}

.img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.img img {
  width: 370px;
  height: 400px;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */